

</div><!-- close page container-->
<footer  class="mt-auto">
<hr>
<div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Freelancer</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Made using with Bootstrap
      </div>
    </div>
</footer>
<script src="/js/helper-functions.js"></script>
<script src="/js/script.js"></script>
</body>
</html>