<%-include('includes/header')%>


<style>
	html{
		--accent-color: #0d83fd;
		--surface-color: #ffffff;
		--default-color: #212529;
	}
	.hero {
		margin-top: -50px;
		position: relative;
		padding-top: 40px;
		background: linear-gradient(135deg, 
		color-mix(in srgb, var(--accent-color), transparent 95%) 50%, 
		color-mix(in srgb, var(--accent-color), transparent 98%) 25%, transparent 50%);
	}

	.hero .stats-row,.tabpanel {
		position: relative;
		z-index: 1;
		margin-top: 5rem;
		background-color: var(--surface-color);
		border-radius: 20px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
		padding-bottom: 2rem;
	}

.hero .stat-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.hero .company-badge {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: 
	color-mix(in srgb, var(--accent-color), transparent 92%);
    border-radius: 50px;
    color: var(--accent-color);
    font-weight: 500;
}

section, .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 90px;
    overflow: clip;
}

.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.features .tab-content {
    margin-top: 30px;
}

@media screen and (max-width:500px) {
	.text-center h3{
	font-size: 15px;
}
}

</style>


<section id="hero" class="hero section">

      <div class="container">

        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content">
              <div class="company-badge mb-4">
                <i class="bi bi-gear-fill me-2"></i>
                Working for your success
              </div>

              <h1 class="mb-4">
               JSONPlaceholder Api
              </h1>

              <p class="mb-4 mb-md-5">
                Managing users, user albums and photos made easy. <br>
				 ~ App made using Bootsrap 4.5.3
              </p>

			  <% if(!locals.aunthenticatedUser){ %>
              <div class="hero-buttons">
                <a href="/signin" class="btn btn-primary me-0 me-sm-2 mx-1">Get Started</a>
              </div>
 			<% } %>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="hero-image">
              <img src="/img/illustration-1.webp" alt="Hero Image" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="row stats-row gy-4 mt-5">
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-content">
                <p class="mb-0">View users</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-content">
				 <p class="mb-0">View user albums</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-content">
				 <p class="mb-0">View album potos</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-content">
				 <p class="mb-0">Edit photo title</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

	<section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Features</h2>
        <p>This applications takes data from external API <a href="https://jsonplaceholder.typicode.com/guide/" target="_blank" rel="noopener noreferrer">jsonplaceholder</a> and displays it to the user as shown below</p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="tab-content">
          <div class="tabpanel" id="features-tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex  text-center flex-column justify-content-center">
                <h3>Home page (Users)</h3>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
				<a href="/img/home.png" target="_blank" rel="noopener noreferrer">
                	<img src="/img/home.png" alt="" class="img-fluid">
				</a>
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tabpanel" id="features-tab-2">
            <div class="row">
            
              <div class="col-lg-6 order-1 text-center">
				<a href="/img/albums.png" target="_blank" rel="noopener noreferrer">
                	<img src="/img/albums.png" alt="" class="img-fluid">
				</a>
              </div>
			    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column text-center justify-content-center">
                <h3>Albums</h3>
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tabpanel" id="features-tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex text-center flex-column justify-content-center">
                <h3>Album photos</h3>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
				<a href="/img/album-photos.png" target="_blank" rel="noopener noreferrer">
                	<img src="/img/album-photos.png" alt="" class="img-fluid">
				</a>
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>

    </section>

<%-include('includes/footer')%>