<%-include('includes/header')%>

	<div class="section">
		<div class="absolute-center">

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
                            <h1>Home</h1>
						</div>	
					</div>		
				</div>		
			</div>

			<div class="section mt-5">
				<div class="container">
					<div class="row">
						<div class="col-12">
                            
							Some stuffs here

						</div>	
					</div>		
				</div>			
			</div>

		</div>
	</div>



<%-include('includes/footer')%>